* {
    text-decoration: none;
}

/* body {
margin-left: 10%;
margin-right: 10%;
} */
body {
    margin: 0;
    background-color: #CEE8B9;
}

main{
    margin: 0 7%;
}

.oneThirdWidth {
    width: 33%;
}

.TenViewHeight {
    height: 10vh;

    width: 100%;
}

.HomeButtonArea{
    display: flex;

}

.HomeButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: fit-content+5px;
    padding: 5px 10px;
    margin: 5px;
    border: black solid 1px;
}

.HomeButton img{
    width: 30px;
    margin-right: 10px;
}

.heroArea{
    box-sizing: border-box;
    background-image: url(img/200w.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 200px;
}
.heroText{
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px 30px;
    border-radius: 10px;
    justify-content: center;
    font-size: 50px;
}

h1{
    display: flex;
    width: fit-content;
    margin: 0;
    align-items: center;
    color:white;
}

.linkcontainer {
    display: flex;
    flex-direction: row;
}

.linkcontainer a{
    text-align: center;
    background-color: #9F9F9F;
    border-radius: 15px;
    padding: 20px;
    border: black solid 2px;
    text-decoration: none;
    color: black;
}




.FullWidth {
    width: 100%;
    height: 10vh;
}

.backgroundGray {}

.flexDaddy {
    display: flex;
}

.fullnavigation {
    background-color: #91D790;
    width: 100%;

}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.overview {
    width: 50%;
}

.overview > * {
    color: black;
    background: white;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overview h3 {
    margin: 0.4rem 0;
    font-size: 2rem;
    text-align: center;
}

.overview p {
    padding: 2rem 1.5rem;
    line-height: 1.3;
}

.image {
    width: 50%;
}

.reverse {
    flex-direction: row-reverse;
}

.flexbox4 {
    flex:wrap;
    justify-content: space-between;
    display:flex;
}

.flexbox4-content {
    background-color:white;
    width:20%;
    text-align:center;
    padding:2rem 1.5rem;
    border:1px solid black;
    border-radius:25px;
}

.confinement-head {
    margin: 0.4rem 0;
    font-size: 2rem;
    text-align: center;
    border:1px solid black;
    border-radius:25px;
    background-color:white;  
}

.background {
    color: black;
    background: white;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.p-content {
    padding:2rem 1.5rem;
    font-family: 'Inria Serif', serif;
}

footer{
    box-sizing: border-box;
    width:100%;
    padding: 5%;
}

footer>.flexDaddy{
    width: 100%;
}

footer>.flexDaddy>div{
    box-sizing: border-box;
    width: calc(100%/3);
    border-right: black solid 2px;
    padding-left: 3%;
    word-wrap:break-word;
}

footer>.flexDaddy>div:last-child{
    box-sizing: border-box;
    width: calc(100%/3);
    border-right: black solid 0px;
    padding-left: 3%;
}

footer ul{
    list-style:none;
    padding: 0;
}

.row {
    display:flex;
    flex-direction:row;
    width:100vw;
}

.column {
    display:flex;
    flex-direction:column;
    width:40vw;
}

.div_Daddy {
    display:flex;

}

main h3,
.div_Daddy p {
    color:black;
    background-color:white;
    border: 1px solid black;
    border-radius: 15px;
    padding:15px;
}

.div_Daddy p {
width:100%;
margin:0px;

}

.row img {
    margin: 5px 15px;
}

.width40 {
    width: 40%;
}

.rowcontent > p {
    color:black;
    background-color:white;
    border: 1px solid black;
    border-radius: 15px;
    width: 30%;
    padding: 1% 1% 
    /* margin-left: 2%; */
}

.rowcontent {
    display: flex;
    width: 100%;
    justify-content: space-around;
} 

p,
a{
    font-family: 'Inria Serif', serif;
}

h1,
h2,
h3{font-family: 'Marcellus', serif; }