
/*styles*/
* {
    text-decoration: none;
}
p{
    font-size: 2em;
}

p,
a{
    font-family: 'Inria Serif', serif;
}

h1,
h2,
h3{font-family: 'Marcellus', serif; }


/* body {
margin-left: 10%;
margin-right: 10%;
} */
body {
    margin: 0;
    background-color: #CEE8B9;
    background-attachment: fixed;
    background-image: url("images/brushed-alum-dark.png");
}

main{
    margin: 0 7%;
}

.oneThirdWidth {
    width: 33%;
}

.TenViewHeight {
    height: 10vh;

    width: 100%;
}

.HomeButtonArea{
    display: flex;
    justify-content: space-between;
}

.HomeButton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: fit-content+5px;
    width: 20vw;
    margin: 5px;
    border: black solid 1px;
    height: 5vh;
}

.HomeTitle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: fit-content+5px;
    width: 40vw;
    margin: 5px;
    border: black solid 1px;
    height: 5vh;
}


.HomeButtonContainer{
    width: 10vw;
}

.title{
    width: 40vw;
    text-align: center;
    font-size: 1.6em;
}

.HomeButton img{
    width: 30px;
    margin-right: 10px;
}

.heroArea{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 200px;
    height: 88vh;
}

.i1{
    background-image: url(images/illiya-vjestica-W5FdAcHp7l8-unsplash.jpg);
}
.i2{
    background-image: url(images/jo-anne-mcarthur-TlVNZvr_lf0-unsplash-1-450x300.png) 
}
.i3{
    background-image: url(images/markus-spiske-wL7pwimB78Q-unsplash.jpg) 
}
.i4{
    background-image: url(images/jo-anne-mcarthur-TlVNZvr_lf0-unsplash-1-450x300.png) 
}

.heroText{
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px 30px;
    border-radius: 10px;
    justify-content: center;
    font-size: 50px;
}

.h1{
    text-align: center;
}

/*nav*/
.oneThirdWidth{
    font-size: 2em;
}

.dropbtn{
    visibility: hidden;
    position: absolute;
}

.dropbtn>img{
    height: 100%;
    width: 100%;
}

/*images*/
.img-link{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.img-link>img{
    width: 80%;
    height: 40vh;
    object-fit: cover;
    border: 10px solid #D9D9D9;
    border-radius: 50px;
}

.logo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.logo>img{
    width: 80%;
    object-fit: cover;
}



.lnk>img:hover{
    transition: 100ms;
    opacity: .5;
    background-color:  #D9D9D9;
}

.gr>img{
    border: 10px solid #91D790;
}

h1{
    display: flex;
    width: fit-content;
    margin: 0;
    align-items: center;
    color:white;
}

.linkcontainer {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.linkcontainer a{
    text-align: center;
    background-color: #9F9F9F;
    padding: 20px;
    border: black solid 2px;
    text-decoration: none;
    color: black;
}
.linkcontainer a:hover{
    opacity: .5;
    transition: 100ms;
    background-color: #9F9F9F;
}

.margin>li{
    margin-bottom: 1vh;
}


.FullWidth {
    width: 100%;
    height: 10vh;
}

.spacer{
    height: 12vh;
}

.flex2 {
    display: flex;
}

.fullnavigation {
    background-color: #91D790;
    width: 100%;
    position: fixed;
    top: 0;
    height: 12vh;
}

/*content*/
.content:last-child,
.end{
    margin-bottom:5vh;
}

.content {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.overview {
    width: 50%;
}

.overview > * {
    color: black;
    background: white;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overview h3 {
    margin: 0.4rem 0;
    font-size: 2.1rem;
    text-align: center;
}

.overview p {
    padding: 2rem 1.5rem;
    line-height: 1.3;
}

.image {
    width: 50%;
}

.reverse {
    flex-direction: row-reverse;
}

.flexbox4 {
    flex:wrap;
    justify-content: space-between;
    display:flex;
}

.flexbox4-content {
    background-color:white;
    width:20%;
    text-align:center;
    padding:2rem 1.5rem;
    border:1px solid black;
    border-radius:25px;
}

.confinement-head {
    margin: 0.4rem 0;
    font-size: 2rem;
    text-align: center;
    border:1px solid black;
    border-radius:25px;
    background-color:white;  
}

.background {
    color: black;
    background: white;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.p-content {
    padding:2rem 1.5rem;
    font-family: 'Inria Serif', serif;
}



/*footer*/

.pg{
    margin-bottom: 2vh;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    margin-right: .3vw;
}

.pg:hover{
    background-color: #9F9F9F;
}

.res>ul>li{
    font-size: 1.5em;
}

.footerlink{
    color: black;
}

.res>h3{
    font-size: 2em;
}

footer{
    box-sizing: border-box;
    width:100%;
    padding: 5%;
    background-color: #91D790;
}

footer>.flex2{
    width: 100%;
}

footer>.flex2>div{
    box-sizing: border-box;
    width: calc(100%/3);
    border-right: black solid 2px;
    padding-left: 3%;
    word-wrap:break-word;
}

footer>.flex2>div:last-child{
    box-sizing: border-box;
    width: calc(100%/3);
    border-right: black solid 0px;
    padding-left: 3%;
}

footer ul{
    list-style:none;
    padding: 0;
}

.cart-image{
    height: 50px;
}

.row {
    display:flex;
    flex-direction:row;
    width:100vw;
}

.column {
    display:flex;
    flex-direction:column;
    width:40vw;
}

.div_Daddy {
    display:flex;

}

main h3,
.div_Daddy p {
    color:black;
    background-color:white;
    border: 1px solid black;
    border-radius: 15px;
    padding:15px;
}

.div_Daddy p {
width:100%;
margin:0px;

}

.row img {
    margin: 5px 15px;
}

.width40 {
    width: 40%;
}

@media screen and (max-width: 1200px){
    .overview{
        width: 100%;
    }

    .img-link{
        width: 100%;
    }

    .img-link>img{
        width: 80%;
    }

    .logo{
        width: 100%;
    }
    
    .flexbox4-content{
        width: 80%;
    }

    .flexbox4{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .logotitle{
        visibility: hidden;
        width: 0;
    }

    .dropbtn{
        visibility: visible;
        position: relative;
        height: 5vh;
        width: 20vw;
        border-radius: none;
        border: 1px solid black;
        background-color:#9F9F9F;
        margin-left: 5px;
    }

    .linkcontainer{
        width: 100%;
        flex-wrap: wrap;
        visibility: hidden;
        height: 0;
    }

    .oneThirdWidth{
        width: 100%;
    }

    .dropdown:hover .linkcontainer{
        visibility: visible;
        height: auto; 
    }

    .title{
        width: 100%;
        font-size:1em;
    }

    .HomeButton{
        justify-content: center;
    }

    .HomeButtonContainer{
        width: 60vw;
    }

    p{
        font-size: 1em;
    }

    .res>h3{
        font-size: 1.5em;
    }

    .overview h3 {
        font-size: 2.1rem;
    }
    .heroText{
    font-size: 25px;
}
    
}


