* {
    text-decoration: none;
}
body {
margin-left: 10%;
margin-right: 10%;
}

.oneThirdWidth {
    width: 33%;
    background-color: red;
}

.TenViewHeight {
    height: 10vh;

    width: 100vw; 
}

.linkcontainer {
    display: flex;
    background-color: red;
    flex-direction: row;
}




.FullWidth {
    width: 100vw;
    height: 10vh;
}

.backgroundGray {

}

.flexDaddy {
    display: flex;
}

.fullnavigation{
    background-color: #91D790;
    width: 100vw; 

}
